@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

body {
  background-color: #c0dbea;
}

.line {
  position: absolute;
  background-color: white;
}

.horizontal {
  width: 100%;
  height: 1px;
}

.vertical {
  width: 1px;
  height: 100%;
}

.target {
  position: absolute;
  transform: translate(-50%, -50%);
}

.tag {
  position: absolute;
  color: white;
  transform: translate(20px, 20px);
  font-size: 30px;
  font-family: Alice;
}
