body {
  margin: 0;
  background-color: #393646;
}

.line {
  position: absolute;
  background-color: white;
}

.horizontal {
  width: 100%;
  height: 1px;
  top: 50%;
}

. .coordinates {
  color: white;
  font-size: 30px;
  font-family: 'Times New Romans';
}
